<script>
  var pswpElement = document.querySelectorAll('.pswp')[0];

  // build items array
  var items = [
      <% @images.each do |image| %>
        {
            src: "<%= asset_path(image.filename, type: :image, skip_pipeline: true)%>",
            w: <%= image.width %>,
            h: <%= image.height %>
        },
      <% end %>
  ];

  // define options (if needed)
  var options = {
      index: 0, // start at first slide
      preload: [2,2],
      barsSize: {top: 0, bottom: 0},
      shareEl: false
  };

  // Initializes and opens PhotoSwipe
  var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
</script>

<% @images.each_with_index do |i,ind| %>
  <span class="thumb">
    <%= link_to post_path(i), target: :_blank do %>
      <%= content_tag(:div, '', class: 'play-button', onclick: "options['index']=#{ind};gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);gallery.init();return false;") %>
      <%= image_tag(i.thumbnail_path, class: 'preview', title: i.tag_summary,  skip_pipeline: true) %>
    <% end %>
  </span>
<% end %>
