<script>
  var pswpElement = document.querySelectorAll('.pswp')[0];

  // build items array
  var items = [
        {
            src: "<%= asset_path(@image.filename, type: :image, skip_pipeline: true)%>",
            w: <%= @image.width %>,
            h: <%= @image.height %>
        }
  ];

  // define options (if needed)
  var options = {
      index: 0, // start at first slide
      preload: [2,2],
      barsSize: {top: 0, bottom: 0},
      shareEl: false
  };
</script>

<% if @image.is_video? %>
  <video class="full" controls autoplay loop width="<%= @image.width %>" height="<%= @image.height %>">
    <source src="<%= asset_path(@image.filename, type: :image, skip_pipeline: true)%>" type="video/<%= @image.extension %>">
  </video>
<% else %>
<div class="gallery">
  <%= image_tag(@image.filename, title: @image.tag_summary, class: 'full', skip_pipeline: true, onclick: "pswp = createPhotoSwipe(0);pswp.init();return false;") %><br>
</div>
<% end %>
